.builderWrapper {
    width: 100%;
    height: 100%;

    display: flex;
}

.templatePanel {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
}

.settingPanel {
    min-width: 400px;
    max-width: 400px;
    height: 100%;

    border-left: 2px solid black;
}

.templateDisplay {
    height: calc(100vh - 62px);

    overflow: hidden;
    overflow-y: auto;

    padding: 10%;
}

.elementWrapper {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 12px 0px;
    margin-bottom: 36px;

    cursor: pointer;

    border: 1px solid transparent;
}

.elementWrapper > img {
    border-radius: 8px;
}

.selectedElement {
    border: 1px solid red;
}

.settingHeader {
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;

    padding: 24px 0px;

    border-bottom: 2px solid black;
}

.settingProps {
    padding: 24px 12px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}